@use '../utilities/variables' as *;
@use '../utilities/utilities' as *;


/* Cita destacable (cada página) */
.quoteSection {
    background-color: #222230;
    background-image: url(../assets/backgroundSecondary.webp);
    padding: 50px;
    font-size: 1.9rem;
    text-align: center;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

/* Footer */
.bgFooter {
    align-content: center;
    background: url(../assets/img/backgroundFooter.webp) center;
    background-size: cover;
    height: 250px;
    text-align: center;
    font-size: 1.25rem;

    a {
        @extend .btn;
        display: inline-block;
        background-color: $blackColor;
        font-size: 1.875rem;
        padding: 10px 20px;
        margin-top: 15px;

        &:hover {
            padding: 10px 30px;
        }
    }
}

.footerWeb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;

    .copySite {
        p {
            display: flex;
            align-items: center;
        }

        .copyHide {
            display: none;
        }

        strong {
            font-family: $fontJolly;
            font-size: 1.75rem;
            margin-right: 5px;
        }

        span {
            color: $redColor;
        }
    }

    .socialFooter {
        display: flex;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            color: $whiteColor;
            font-size: 1.5rem;
            margin-left: 5px;
            border-radius: 100%;
            transition: all .3s ease;

            &:hover {
                background-color: $redColor;
            }

            img {
                width: 25px;
                height: 25px;
            }
        }
    }
}