@use '../utilities/variables' as *;

/* Header */
#header {
    position: relative;
    background: $blackColor;
    font-family: $fontJolly;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);

    .logoWeb {
        a {
            text-decoration: none;
            color: $whiteColor;
        }

        h1 {
            font-size: 3.375rem;

            span {
                color: $redColor;
            }
        }
    }

    .menuNav ul {
        display: flex;
        flex-flow: row wrap;
        list-style: none;

        li {
            margin-left: 5px;

            a {
                display: flex;
                align-items: center;
                color: $whiteColor;
                font-size: 1.625rem;
                text-decoration: none;
                padding: 5px 10px;
                border-radius: 5px;
                transition: all .3s ease;
                /* corner-shape: scoop; */

                &:hover,
                &.is-active {
                    background-color: $redColor;
                    background-image: url(../assets/backgroundSecondary.png);
                }

                &.is-active {
                    pointer-events: none;
                }

                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                }
            }
        }
    }
}


/* Títulos en todas las páginas */
.namePage {
    padding: 40px 30px 20px;

    .titlePage {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        line-height: 2.5rem;

        img {
            width: 40px;
            padding-bottom: 15px;
        }
        
        h2 span {
            font-size: 2.2rem;
        }
        
        hr {
            width: 40px;
            margin: 10px 0 20px;
            border: 2px solid $redColor;
            border-radius: 10px;
        }
        
        p {
            font-size: 1.1rem;
            line-height: 1.7rem;
        }
    }

    // Animación Globo
    .balloonSvg {
        animation: balloonSvg 3.5s linear infinite;
    }

    @keyframes balloonSvg {
        0% {
            transform: rotate(0);
        }

        10% {
            transform: rotate(0);
        }

        20% {
            transform: rotate(-15deg);
        }

        30% {
            transform: rotate(15deg);
        }

        40% {
            transform: rotate(-15deg);
        }

        50% {
            transform: rotate(15deg);
        }

        60% {
            transform: rotate(-15deg);
        }

        70% {
            transform: rotate(15deg);
        }

        80% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(0);
        }
    }

    // Animación Gota
    .dropSvg {
        animation: dropSvg 5s ease-in infinite;
    }

    @keyframes dropSvg {
        0% {
            transform: translateY(0);
        }

        98% {
            transform: translateY(15px) skew(0, 15deg);
        }

        100% {
            transform: translateY(0);
        }
    }

    // Animación Vela
    .candleSvg {
        transform-origin: bottom center;
        animation: candleSvg 2s linear infinite;
    }

    @keyframes candleSvg {
        0% {
            transform: scaleY(1);
        }

        50% {
            transform: scaleY(1.10) scaleX(1.05);
        }

        100% {
            transform: scaleY(1);
        }
    }

    // Animación Fantasma
    .ghostSvg {
        animation: ghostSvg 4s linear infinite;
    }

    @keyframes ghostSvg {
        0% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(5px, 5px);
        }

        50% {
            transform: translate(0px, 10px);
        }

        75% {
            transform: translate(-5px, 5px);
        }

        100% {
            transform: translate(0, 0);
        }
    }
}