@use '../utilities/variables' as *;


/* Responsive Design */

/* Tablet */
@media (max-width: 834px) {
    /* Encabezado */
    #header {
        flex-direction: column;
        padding: 20px;

        .menuNav ul {
            justify-content: center;
            align-items: center;
        }
    }

    /* Contenido: Página principal */
    .heroSite {
        height: calc(100vh - 100px);

        .contentHero {
            justify-content: center;
            align-items: center;
            text-align: center;

            h2 {
                font-size: 5.5rem;
                line-height: 4.5rem;
                margin-bottom: 20px;
            }

            a {
                margin-top: 20px;
                padding: 10px 40px;
            }
        }
    }

    .infoSite {
        flex-direction: column-reverse;
        text-align: center;

        .textInfo {
            width: 100%;
            font-size: 1.3rem;
        }

        .imgGhost {
            width: 150px;
            margin: 0;
            margin-bottom: 15px;
        }
    }

    .moviesMonth {
        padding: 15px 60px;

        .nameMovie {
            padding: 40px 20px 5px;
        }

        a {
            margin-bottom: 40px;
        }
    }

    /* Contenido: Villanos */
    .cardVillain article {
        width: 90%;
        height: auto;

        .imgVillain {
            width: 75%;
            height: 350px;

            .skulls {
                padding: 5px 15px;

                img {
                    width: 22px;
                }
            }
        }

        .infoVillain {
            width: 100%;
            padding: 0 20px;

            h2 {
                font-size: 3rem;
                margin: 5px 0;
            }

            .textVillain {
                font-size: 1rem;
            }
        }
    }

    /* Contenido: Galería */
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 75%;

        .imgGallery {
            border-radius: 10px;
        }
    }

    /* Contenido: Contacto */
    .formSection {
        form {
            width: 85%;
            margin-top: 20px;
        }

        input[type="submit"] {
            margin: 0 0 0 auto;
        }
    }

    .socialSection {
        text-align: center;
        margin: 70px 30px 50px;

        .socialMedia {
            flex-direction: column;

            a {
                display: flex;
                justify-content: center;
                margin: 8px 10px;
            }
        }
    }
}


/* Mobile */
@media (max-width: 480px) {
    /* Encabezado */
    #header {
        padding: 25px 0;

        .logoWeb h1 {
            margin-bottom: 10px;
        }

        .menuNav {
            ul {
                flex-direction: column;

                li a {
                    margin: 3px 0;
                }
            } 
        }
    }


    /* Contenido: Página principal */
    .heroSite {
        height: calc(100vh - 300px);

        .contentHero {
            padding-bottom: 100px;

            h2 {
                font-size: 4rem;
            }
        }
    }

    .infoSite {
        padding: 70px 0;

        .textInfo {
            width: 75%;
            font-size: 1.1rem;
        }

        .imgGhost {
            width: 125px;
            margin-bottom: 30px;
        }
    }

    .moviesMonth {
        padding: 0;
    }


    /* Contenido: Villanos */
    .cardVillain article {
        flex-direction: column;
        width: 85%;

        .imgVillain {
            width: 100%;
            height: 450px;

            .skulls {
                bottom: 20px;
                font-size: 1.3rem;
            }
        }

        .infoVillain {
            padding: 20px;
        }
    }


    /* Contenido: Galería */
    .gallery {
        grid-template-columns: 1fr;
        grid-auto-flow: row;

        .img1, .img2, .img3, .img4 {
            grid-column: auto;
            grid-row: auto;
        }
    }


    /* Footer */
    .bgFooter {
        height: auto;
        padding: 70px 30px;
    }

    .footerWeb {
        flex-direction: column;

        .copySite {
            .copyShow {
                display: none;
            }

            .copyHide {
                display: flex;
            }

            p {
                font-size: 1.3rem;
            }

            strong {
                font-size: 2.5rem;
                margin-right: 10px;
            }

            a {
                margin: 0 10px;
            }
        }
    }
}