@use '../utilities/variables' as *;


/* Contenido: Contacto */
.formSection {
    display: flex;
    justify-content: center;

    form {
        width: 30%;
    }

    label {
        display: block;
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 5px;
    }

    input,
    textarea {
        width: 100%;
        font-size: 1.1rem;
        font-family: $fontInter;
        border: none;
        border-radius: 15px;
        /* corner-shape: squircle; */
        padding: 10px 8px;
    }

    input {
        margin-bottom: 10px;
    }

    textarea {
        height: 125px;
        margin-bottom: 15px;
    }

    input[type="submit"] {
        display: block;
        background-color: $redColor;
        color: #E5E5E5;
        width: 175px;
        font-family: $fontJolly;
        font-size: 1.6rem;
        border-radius: 50px;
        /* corner-shape: squircle; */
        margin: 0 auto;
        cursor: pointer;

        &:hover {
            width: 190px;
        }
    }
}

.socialSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0;

    h3 {
        font-size: 2.5rem;
    }

    .socialMedia {
        display: flex;

        a {
            display: flex;
            align-items: center;
            background-color: $whiteColor;
            color: $redColor;
            font-weight: 600;
            font-size: 1.3rem;
            text-decoration: none;
            padding: 10px 40px;
            margin: 10px 10px 0;
            border-radius: 5px;
            /* corner-shape: scoop; */

            &:hover {
                background-color: $redColor;
                color: $whiteColor;
                transform: scale(1.04);
            }
        }

        svg {
            width: 30px;
            margin-right: 5px;
        }
    }
}