@use '../utilities/variables' as *;


/* Contenido: Galería */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: row dense;
    gap: 15px;
    width: 70%;
    margin: 5px auto 50px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imgGallery {
        position: relative;
        border-radius: 40px;
        /* corner-shape: squircle; */
        width: 100%;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        transition: all .3s ease;

        .infoGrid {
            position: absolute;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.9);
            width: 100%;
            font-size: 1.5rem;
            line-height: 1.8rem;
            padding: 15px;
            opacity: 0;
            transition: all .2s ease-out;

            span {
                color: $redColor;
                font-size: 1.3rem;
                font-weight: lighter;
                vertical-align: middle;
            }
        }

        &:hover {
            transform: translateY(-5px);
        }

        &:hover .infoGrid {
            opacity: 1;
        }
    }

    .imgVer {
        grid-row: span 2;
    }

    .imgHor {
        grid-column: span 2;
    }
}