@use '../utilities/variables' as *;


/* Contenido: Villanos */
.cardVillain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: -10px 0 30px;

    article {
        display: flex;
        align-items: center;
        background-color: $whiteColor;
        color: $blackColor;
        width: 45%;
        height: 350px;
        margin: 20px 0;
        border: 2px solid $redColor;
        border-radius: 40px;
        /* corner-shape: squircle; */
        overflow: hidden;

        .imgVillain {
            position: relative;
            width: 30%;
            height: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .skulls {
                position: absolute;
                bottom: 15px;
                left: 0;
                right: 0;
                display: flex;
                gap: 2px;
                background-color: $whiteColor;
                width: max-content;
                line-height: 0;
                margin: 0 auto;
                padding: 5px 10px;
                border-radius: 5px;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);

                img {
                    width: 25px;
                }
            }
        }

        .infoVillain {
            width: 70%;
            padding: 30px;

            span {
                display: inline-block;
                background-color: $redColor;
                color: $whiteColor;
                font-size: 0.8rem;
                margin-bottom: 5px;
                padding: 5px 10px;
                border-radius: 5px;
            }

            h2 {
                font-size: 3.5rem;
                line-height: 3.3rem;
                margin: 10px 0;
            }

            .movieVillain {
                font-size: 0.9rem;
                font-weight: 700;
                font-style: italic;
                margin-bottom: 20px;
            }

            .textVillain {
                font-size: 1.2rem;
            }
        }
    }
}